<a href="#" id="left_button" data-direction="left"></a>
<a href="#" id="right_button" data-direction="right"></a>
<div id="sidebar_left">
  <h2><%= @cms.title_sidebar_left %></h2>
  <div id="accordion">
    <h3 class="length"><%= @cms.travel_length %></h3>
    <div class="travel_time" data-min="<%= @min_duration %>" data-max="<%= @min_duration %>">
      <span class="left_shadow"></span>
      <%= form_tag '', :method => :get do %>
            <%= hidden_field_tag :min_travel_time, params[:min_travel_time] %>
            <%= hidden_field_tag :max_travel_time, params[:max_travel_time] %>
          <div class="range_with_tooltip" id="slider-range-travel"></div>
      <% end %>
    </div>
    <h3 class="horaires"><%= @cms.within_time %></h3>
    <div class="within_time" data-minhour="<%= @minmax_hour[0] %>" data-maxhour="<%= @minmax_hour[1] %>">
      <span class="left_shadow"></span>
      <span class="start">
        <%= form_tag '', :method => :get do %>
            <%= hidden_field_tag :min_start_time, params[:min_start_time] %>
            <%= hidden_field_tag :max_start_time, params[:max_start_time] %>
          <div class="range_with_tooltip" id="slider-range-start"></div>
      <% end %>
      </span>
      <span class="end">
        <%= form_tag '', :method => :get do %>
            <%= hidden_field_tag :min_end_time, params[:min_end_time] %>
            <%= hidden_field_tag :max_end_time, params[:max_end_time] %>
          <div class="range_with_tooltip" id="slider-range-end"></div>
      <% end %>
      </span>
    </div>
    <h3 class="stopover"><%= @cms.stopover %></h3>
    <div>
      <span class="left_shadow"></span>
      <%= form_tag('', :method => :get, class: "stopover_form") do %>
        <% @stopover.try(:each) do |stopover| %>
              <p><%= radio_button_tag :stopover, stopover %> <label for="stopover_<%= stopover %>"><%= stopover_text(stopover) %></label></p>
        <% end %>
      <% end %>
    </div>
    <h3 class="companies"><%= @cms.excluded_companies %></h3>
    <div>
      <span class="left_shadow"></span>
      <%= form_tag('', :method => :get, class: "companies") do %>
          <% @companies.try(:each_with_index) do |company, index| %>
              <p>
                <%= check_box_tag "companies[]", company, nil, :id => "company_#{company}" %>
                <label for="company_<%= company %>"><%= company%></label>
              </p>
          <% end %>
      <% end %>
    </div>
    <h3 class="country"><%= @cms.excluded_countries %></h3>
    <div>
      <span class="left_shadow"></span>
      <%= form_tag('', :method => :get, class: 'no_s exclude') do %>
          <% @end_countries.try(:each_with_index) do |country, index| %>
          <p><%= check_box_tag "countries[]", country, nil, :id => "country_#{country}" %> <label for="country_<%= country %>"><%= country %></label></p>
          <% end %>
      <% end %>
    </div>
    <h3 class="mood"><%= @cms.moods %></h3>
    <div>
      <span class="left_shadow"></span>
      <%= form_tag('', :method => :get) do %>
          <% @moods.each_with_index do |mood, index| %>
              <p><%= radio_button_tag :mood, index %> <label for="mood_<%= index %>"><%= mood.title %></label></p>
          <% end %>
      <% end %>
    </div>
  </div>
  <a href="#" id="reset_filter"><%= image_tag('filter_reset.png') %><%= @cms.reset_fields %></a>
  <span class="loading hidden radio_button"></span>
</div>
<div id="sidebar_right">
  <div class="shadow_right"></div>
  <div id="loader">
      <ul id="travel_list" data-cities="<%= @citys %>">
        <% @travels.try(:each_with_index) do |travel, i| %>
          <% unless travel.coordinates.blank? %>
          <li data-color="color<%= i %>" data-coordinates="<%= travel.coordinates %>" data-company="<%= travel.company %>" data-content="<%= travel.about %>" data-starttime="<%= travel.start_time %>" data-endtime="<%= travel.end_time %>">
            <div>
                <h3 class="city" data-endcity="<%= travel.end_city %>" data-endairport="<%= travel.end_airport_code %>" data-startcity="<%= travel.start_city %>" data-startairport="<%= travel.start_airport_code %>"><%= travel.end_city %> <span>(<%= travel.end_airport_code %>)</span></h3>
                <span class="price"><%= @cms.from_price1 %>><br/><%= @cms.two_way_trip %>
                    <span><%= number_to_currency(travel.price, locale: :fr, precision: 0, format: "%n%u") %></span>
                </span>
              <div class="start"><%= long_date_with_html(travel.departure) %><br/><%= travel.departure.strftime("%H") %>h<%= travel.departure.strftime("%M") %></div>
              <div class="end"><%= long_date_with_html(travel.arrival) %><br/><%= travel.arrival.strftime("%H") %>h<%= travel.arrival.strftime("%M") %></div>
            </div>
            <a class="open_pin" href="#"><%= @cms.more %></a>
          </li>
        <% end %>
        <% end %>
      </ul>
  </div>
</div>
<div class="span3">
  <div class="span8">
    <div class="panel panel-default">
      <div id="map"></div>
      <div class="wrapper">
        <div class="bloc first fo">
          <%= image_tag("grapy_logo_bloc.png") %>
          <p><%= raw @cms.first_block_test %></p>
          <h5 class="tag_line"><%= raw @cms.tag_line %>
          </h5>
          <a class="tag_click" href="#"><%= image_tag('go_blanc.jpg') %></a>
        </div>
        <div class="bloc">
          <h4><%= @front_travels[0].end_city %><span> (<%= @front_travels[0].end_airport_code %>)</span></h4>
          <div>
            <div class="blurred">
              <%= image_tag('ad1.png') %>
              <span></span>
            </div>
            <h5><%= @front_travels[0].title %></h5>
            <p><%= @front_travels[0].about %></p>
            <p class="end_bloc"><%= @cms.from_price2 %> <%= number_to_currency(@front_travels[0].price, locale: :fr, precision: 0, format: "%n%u") %> <a href="#"><%= image_tag("go_jaune.png") %></a> </p>
          </div>
        </div>
        <div class="bloc ln">
          <%= image_tag('ad1.png') %>
        </div>

        <div class="bloc fo">
          <h4><%= @front_travels[0].end_city %><span> (<%= @front_travels[0].end_airport_code %>)</span></h4>
          <div>
            <div class="blurred">
              <%= image_tag('ad1.png') %>
              <span></span>
            </div>
            <h5><%= @front_travels[0].title %></h5>
            <p><%= @front_travels[0].about %></p>
            <p class="end_bloc"><%= @cms.from_price2 %> <%= number_to_currency(@front_travels[0].price, locale: :fr, precision: 0, format: "%n%u") %> <a href="#"><%= image_tag("go_jaune.png") %></a> </p>
          </div>
        </div>
        <div class="bloc">
          <h4><%= @front_travels[0].end_city %><span> (<%= @front_travels[0].end_airport_code %>)</span></h4>
          <div>
            <div class="blurred">
              <%= image_tag('ad1.png') %>
              <span></span>
            </div>
            <h5><%= @front_travels[0].title %></h5>
            <p><%= @front_travels[0].about %></p>
            <p class="end_bloc"><%= @cms.from_price2 %> <%= number_to_currency(@front_travels[0].price, locale: :fr, precision: 0, format: "%n%u") %> <a href="#"><%= image_tag("go_jaune.png") %></a> </p>
          </div>
        </div>
        <div class="bloc ln">
          <%= image_tag('ad2.png') %>
        </div>

      </div>
      </div>
  </div>
</div>
<% content_for(:more_js) do %>
    <script type="text/javascript">
        travelsJs.init();
        travelsJs.geoMap();
    </script>
<% end %>
