<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Grappes de raisin" %></title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,700,500,200' rel='stylesheet' type='text/css'>

  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<div class="navbar">
  <div class="container">
    <h1><a href="/"><%= image_tag("logo_grappy.png") %></a></h1>

    <ul class="primary_navigation">
      <li><a href="#">L'actu du raisin</a></li>
      <li><a href="#">Qui sommes-nous ?</a></li>
      <li><a href="#"><%= image_tag("picto_facebook.png") %></a></li>
      <li><a href="#"><%= image_tag("picto_twitter.png") %></a></li>
      <li><a href="#"><%= image_tag("picto_instagram.png") %></a></li>
    </ul>
  </div>
</div>
<div class="searchbar">
  <div class="container">
    <span class="city_search">
      Ville de départ :
      <%= form_tag '', :method => :get do %>
        <%= text_field_tag :from, params[:from] , class: "autocomplete" %>
      <% end %>
    </span>
    <span class="date_pickers">
        Aller et retour
        <%= form_tag '', :method => :get do %>
          <%= datetime_field_tag :min_date, params[:min_date], class:"datepicker", placeholder: "Date de départ" %>
          <%= datetime_field_tag :max_date, params[:max_date], class:"datepicker", placeholder: "Date de fin" %>
    <% end %>
    </span>
    <span class="price_range">
      Echelle de prix :
      <%= form_tag '', :method => :get do %>
          <%= hidden_field_tag :min_budget, params[:min_budget] %>
          <%= hidden_field_tag :max_budget, params[:max_budget] %>
        <div id="slider-range"></div>
      <% end %>
    </span>
    <span class="nb_people">
      Amis
          <%= form_tag '', :method => :get do %>
          <%= number_field_tag :nb_people, params[:nb_people] %>
      <% end %>
    </span>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <% flash.each do |key, value| %>
          <div class="alert <%= key %> <%= twitterized_type(key) %>" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <%= value %>
          </div>
      <% end %>
    </div>
  </div><!--/row-->
  <div class="row-fluid">
    <%= yield %>
  </div>

  <footer>
    <!--<p>&copy; Company 2012</p>-->
  </footer>

</div> <!-- /container -->

<%= yield :more_js %>
</body>
</html>
